Firecrawl.json
{
  "name": "Firecrawl",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5c4ff46f-9ad5-4f04-93ab-6b603ef97162",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88d0dc61-d59f-460e-9eab-aa4c4e056b92",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        -180
      ],
      "id": "af7c3c5d-071f-4e31-aed9-29473975e564",
      "name": "If",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "id": "efb6e2b2-2607-4022-8c33-79702e8dc5bd",
      "name": "Wait",
      "webhookId": "f1dcee7e-fc9b-410e-87a9-74c919425117"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/extract",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": [\n    \"https://natan-asrat.onrender.com/*\"\n  ],\n  \"prompt\": \"Extract all emails for business owner from the page.\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"emails\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"required\": [\n      \"emails\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "a22e9656-e287-437d-8cd9-dd0a43641241",
      "name": "Extract",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0qzFnkpyVDYC76Hf",
          "name": "Firecrawl"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.firecrawl.dev/v1/extract/{{ $('Extract').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "e97c4f85-7b56-46ff-a2ca-d3e36ffb381e",
      "name": "Check",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0qzFnkpyVDYC76Hf",
          "name": "Firecrawl"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "123ce1e5-d785-4a15-85ef-f108d9b1e550",
  "meta": {
    "instanceId": "d3c1d69c2e93b8bfaad34637c6f72c3b28c68e4d85fdc8c57aa50802ac1f4fed"
  },
  "id": "917kTKs3tcH2VT22",
  "tags": []
}